<div class="row">
  <header class="container">
    <div class="row">
      <div id="logo" class="col-md-3">
        <%= image_tag("logo.png", :alt => "NERGA Logo") %>
      </div>
      <div id="intro" class="col-md-9  text-center">
        <h1>North East Rabbits Golf Association</h1>
      </div>
    </div>
  </header>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">NERGA</a>
        </div>
    </div>
  </nav>
</div><!-- end of row-->
