
<div class="alert alert-danger" role="alert" >
  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  <span >Having Problems?</span>
   <%= mail_to "iwansliw@yahoo.com", "Contact Iwan at iwansliw@yahoo.com ", :encode => "hex =>" %>
</div>
