
<div class="alert alert-danger" role="alert" >
  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  <span >Having Problems?</span>
   <%= mail_to "iwansliw@yahoo.com", "Contact Iwan at iwansliw@yahoo.com ", :encode => "hex =>" %>
</div>
<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    <span >Instruction Booklet</span>
     <a href="/guidancev2.pdf" target="_blank">Instruction Booklet</a>
  </div>
