<div id="sidebar" class="col-md-3">
   <h3>Greyhound IT LTD</h3>
   <%= link_to image_tag("greyhoundlogo/#{rand(2)}.png", :alt => "Greyhound IT Ltd", class: "greylogo") , 'http://www.greyhoundit.co.uk' %>
   <p>Greyhound IT offers computer services for all your IT needs. Whether you want to learn about spreadsheets, word processing, databases or the Internet, we will come to you at home or work at a time that&#8217;s best for you. Greyhound IT will install and set-up your computer, scanner, printer, and network, installing essential anti-virus and get your system ready to go. Greyhound IT will design a website for your business, offering different packages to suit your needs.<br />
<%= link_to "Visit us today", 'http://greyhoundit.co.uk' , class: "btn btn-primary btn-block", id: "greyhoundlink" %>
</p>
</div><!--end of sidebar-->
