<h1>Players information for <%= @venue %></h1>
<%= form_for(@submission,url: submission_path(id: @submission.id, fixture: params[:fixture], league: params[:league]), :html => {:class => 'form-inline'})  do |f| %>
<%= render 'form', f: f %>
<% end %>

<%= link_to 'Show', @submission %>
