<h1>Finals day 2015 </h1>
<p>Gentlemen,</p>
<p>Our biggest finals day and a great day at Rockliffe Hall.</p>
<p>Venue excellent and weather great when the fog cleared.</p>
<p>INTER Club Champions &#8211; Crook &#8211; 239pts , 2nd Whitby &#8211; 231pts and 3rd Blackwell Grange 225pts. Congratulation to Crook on winning the 1st INTER Championship.</p>
<p>Top scorers all with 38 pts Dennis Pinkney , Steve Winter both Crook and Graham Parsons Blackwell Grange.</p>
<p>INTER Individual Champion Sean O&#8217;Brien &#8211; Hobson 38pts ,2nd Graham Parsons Blackwell Grange 30pts and 3rd Steve Winter &#8211; Crook -38pts. Again congratulations to Sean our 1st Individual Champion.</p>
<p>NERGA Club Champions Malton &amp; Norton &#8211; 244pts , 2nd Thirsk &amp; N&#8217;ton &#8211; 228pts and 3rd Roseberry Grange -217pts. Congratulations to Malton &amp; Norton their 1st time as NERGA Champions.</p>
<p>Top scorers Anthony Spittlehouse -37pts , Tony Creaser 37pts both Malton &amp; Norton and Brian Edmundson Roseberry Grange 37pts.</p>
<p>NERGA Individual Champion Chris Noble -Whitby 39 pts , 2nd Brian Edmundson Roseberry Grange 37pts and 3rd Graham Moore Filey 37pts. Congratulations to Chris and top scorer on the day.</p>
<p>An excellent end to our season , and thanks to all Clubs who were represented at the Finals day making it a very special day.</p>
