<h1>Links</h1>
<h3>Rules of golf</h3>
<ul>
<li><a title="Wearside" href="http://www.randa.org/Rules-and-Amateur-Status/Rules-of-Golf.aspx">Rules of Golf</a></li>
</ul>
<h3>EGU</h3>
<ul>
<li><a title="EGU" href="http://www.englishgolfunion.org/">English Golf Union </a></li>
</ul>
<h3>Golf Clubs</h3>
<ul>
<li><a title="Bedale" href="http://www.bedalegolfclub.com/">Bedale</a></li>
<li><a title="Blackwell Grange" href="http://www.blackwellgrangegolf.com/">Blackwell Grange</a></li>
<li><a title="Boldon" href="http://www.boldongolfclub.co.uk/Intro.aspx">Boldon</a></li>
<li><a title="Catterick" href="http://www.catterickgolfclub.co.uk/pages.php/index.html">Catterick</a></li>
<li><a title="Chester-le-street" href="http://www.clsgolfclub.co.uk/indexhome.php">Chester-le-street</a></li>
<li><a title="Crook" href="http://www.crookgolfclub.co.uk/pages.php/index.html">Crook</a></li>
<li><a title="Darlington" href="http://www.darlington-gc.co.uk/Darlington_Golf_Club/Welcome.html">Darlington</a></li>
<li><a title="Dinsdale Spa" href="http://dinsdalespagolfclub.co.uk/webcontent/">Dinsdale Spa</a></li>
<li><a title="Easingwold" href="http://www.easingwoldgolfclub.co.uk/Intro.aspx">Easingwold</a></li>
<li><a title="Filey" href="http://www.fileygolfclub.com/">Filey</a></li>
<li><a title="Forest Park - York" href="http://www.forestparkgolfclub.co.uk/">Forest Park &#8211; York</a></li>
<li><a title="Garesfield" href="http://www.garesfieldgolfclub.co.uk/">Garesfield</a></li>
<li><a title="Hobson" href="http://www.hobsongolfclub.co.uk/">Hobson</a></li>
<li><a title="Kirbymoorside" href="http://www.kirkbymoorsidegolf.co.uk/pages.php/index.html">Kirkbymoorside</a></li>
<li><a title="KP Club" href="http://www.kpclub.co.uk/kpgolf/index.html">KP Club Pocklington</a></li>
<li><a title="Malton and norton" href="http://www.maltonandnortongolfclub.co.uk/pages.php/index.html">Malton &amp; Norton</a></li>
<li><a title="Parklands" href="http://www.parklandsgolfclub.co.uk/">Parklands</a></li>
<li><a title="Prudhoe" href="http://www.prudhoegolfclub.co.uk/">Prudhoe</a></li>
<li><a title="Richmond" href="http://www.richmondyorksgolfclub.co.uk/">Richmond</a></li>
<li><a title="Ripon City" href="http://www.riponcitygolfclub.com/">Ripon City</a></li>
<li><a title="Romanby" href="http://www.romanby.com">Romanby</a></li>
<li><a title="Scarbrough North Cliff" href="http://www.northcliffgolfclub.com/">Scarbrough North Cliff</a></li>
<li><a title="Seaham" href="http://www.seahamgolfclub.co.uk/">Seaham</a></li>
<li><a title="Southmoor" href="http://www.southmoorgc.co.uk/">Southmoor</a></li>
<li><a title="Stocksfield G.C" href="http://www.stocksfieldgolfclub.co.uk/Intro.aspx">Stocksfield G.C</a></li>
<li><a title="Thirsk" href="http://www.tngc.co.uk/pages.php/index.html">Thirsk &amp; Northallerton</a></li>
<li><a title="Wearside" href="http://www.wearsidegolfclub.co.uk/">Wearside</a></li>
<li><a title="Whitby" href="http://www.whitbygolfclub.co.uk/pages.php/index.html">Whitby</a></li>
</ul>
<h3>Other Links</h3>
<ul>
<li><a title="Greyhound IT" href="http://www.greyhoundit.co.uk">Greyhound IT</a></li>
</ul>
