/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "scaffolds.css";
@import "submissions.css";
@import "zones.css";
@import "static.css";
@import "posts.css";

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

h1{
  margin-bottom: 20px;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.nopoint {
  cursor: default;
  font-size: 10px;
}
body{
  background-color: #005267;
}
.container{
  background-color: white;
}

#content{
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
}
header{
  padding-top: 25px;
  padding-bottom: 25px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d8aa9+0,22bde0+100 */
  background: #0d8aa9; /* Old browsers */
  background: -moz-linear-gradient(top,  #0d8aa9 0%, #22bde0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #0d8aa9 0%,#22bde0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #0d8aa9 0%,#22bde0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d8aa9', endColorstr='#22bde0',GradientType=0 ); /* IE6-9 */

  #logo{
    padding-left: 40px;
  }
  #intro{
      vertical-align: middle;
      h1{
        font-family: Helvetica, sans-serif;
        color: white;
        padding-top: 53px;
        font-size: 50px;
      }
  }
}

footer{
  background-color: #22bde0;
  padding: 15px;
  p{
    color: #f0ffff;
  }
}

hr{
  background-color: #fff;
	border-top: 2px dashed #22bde0;
}

.overallresults > a {
    font-size: 22px;
    padding-left: 38px;
}


.signin-but, .remember{
    clear: both;
    width: 100%;
}
@media (max-width: 768px){
     .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
         margin-left: 0;
     }
    .nav > li > a{
        padding: 10px 8px;
    }

}
