/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

  #date {
    background-color: #21BBDE;
    color: white;
    font-size: 12px;
    display: inline-block;
  }

hr{
  background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

.field{
  
}
