// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form > div {
  float:left;
  display: inline-flex;
}
.form-btn{
  display: block;
}
.box{
  padding: 30px;
  li{
    list-style: none;
    font-size: 16px;
    padding-bottom: 5px;
  }
  h2{
    text-align: center;
  }
}
.blue, .south{
  background-color: #0041C2;
  color: white;
}
.green{
  background-color: #347C17;
    color: white;
}
.red, .north{
  background-color: #dc381f;
}
.yellow, .central{
  background-color: #fff380;
}

.btn1{
  color: white !important;
  margin-right: 20px !important;
}

.bp {
    margin-top: 50px;
}
